:root {
  --clr-gray-50: rgb(249 250 251);
  --clr-gray-100: rgb(243 244 246);
  --clr-gray-200: rgb(229 231 235);
  --clr-gray-300: rgb(209 213 219);
  --clr-gray-400: rgb(156 163 175);
  --clr-gray-500: rgb(107 114 128);
  --clr-gray-600: rgb(75 85 99);
  --clr-gray-700: rgb(55 65 81);
  --clr-gray-800: rgb(31 41 55);
  --clr-gray-900: rgb(17 24 39);
  --clr-gray-950: rgb(3 7 18);

  --clr-blue-50: rgb(239 246 255);
  --clr-blue-100: rgb(219 234 254);
  --clr-blue-200: rgb(191 219 254);
  --clr-blue-300: rgb(147 197 253);
  --clr-blue-400: rgb(96 165 250);
  --clr-blue-500: rgb(59 130 246);
  --clr-blue-600: rgb(37 99 235);
  --clr-blue-700: rgb(29 78 216);
  --clr-blue-800: rgb(30 64 175);
  --clr-blue-900: rgb(30 58 138);
  --clr-blue-950: rgb(23 37 84);

  --clr-red-600: rgb(220 38 38);

  --ff-base: "Roboto", sans-serif;

  --size-6: 0.375rem;
  --size-8: 0.5rem;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-28: 1.75rem;
  --size-32: 2rem;
  --size-36: 2.25rem;
  --size-40: 2.5rem;

  --rounded-sm: var(--size-6);
  --rounded-md: var(--size-8);
  --rounded-lg: var(--size-10);
  --rounded-xl: var(--size-12);
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--clr-gray-100);
  color: var(--clr-gray-950);
  font-family: var(--ff-base);
}

main {
  margin-block: var(--size-16);
}

/* Utilities */

.container {
  --container-width: 72rem;
  --container-padding: 1rem;

  width: min(var(--container-width), calc(100% - var(--container-padding) * 2));
  margin-inline: auto;
  justify-content: space-between;
}
.container--narrow {
  --container-width: 32rem;
}

.group {
  display: flex;
  align-items: center;
  gap: var(--size-16);
}

.grid-flow {
  display: grid;
  gap: var(--size-16);
}

.panel {
  padding: var(--size-20);
  background-color: var(--clr-gray-50);
  border: 1px solid var(--clr-gray-300);
  border-radius: var(--rounded-sm);
}

.heading {
  --underline-height: 4px;
  position: relative;
  padding-bottom: var(--size-8);
  margin-bottom: var(--size-16);
}
.heading::before,
.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
}
.heading::before {
  width: 100%;
  background-color: var(--clr-gray-300);
}
.heading::after {
  width: 25%;
  background-color: var(--clr-gray-400);
}

.alert {
  color: var(--clr-red-600);
}

.my-6 {
  margin-block: var(--size-6);
}
.my-8 {
  margin-block: var(--size-8);
}
.my-10 {
  margin-block: var(--size-10);
}
.my-12 {
  margin-block: var(--size-12);
}
.my-14 {
  margin-block: var(--size-14);
}
.my-16 {
  margin-block: var(--size-16);
}
.my-20 {
  margin-block: var(--size-20);
}
.my-24 {
  margin-block: var(--size-24);
}
.my-28 {
  margin-block: var(--size-28);
}
.my-32 {
  margin-block: var(--size-32);
}

.text-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (max-width: 50rem) {
  .panel {
    padding: var(--size-12);
  }

  .group {
    gap: var(--size-12);
  }

  .gird-flow {
    gap: var(--size-12);
  }
}

/* Elements */

.btn {
  padding: var(--size-8) var(--size-12);
  font-weight: 500;
  text-align: center;
  border-radius: var(--rounded-sm);
  border: none;
  transition: 200ms;
  cursor: pointer;
}

.btn--full {
  width: 100%;
}

.btn--primary {
  background-color: var(--clr-gray-200);
}
.btn--primary:hover {
  background-color: var(--clr-gray-300);
}

.btn--secondary {
  background-color: var(--clr-blue-400);
  color: var(--clr-blue-950);
}
.btn--secondary:hover {
  background-color: var(--clr-blue-300);
}

.input {
  width: 100%;
  padding: var(--size-8) var(--size-12);
  background-color: var(--clr-gray-200);
  border: 1px solid var(--clr-gray-200);
  border-radius: var(--rounded-sm);
  outline: none;
}

.input:focus {
  border: 1px solid var(--clr-blue-500);
}

select {
  padding: var(--size-8) var(--size-12);
  background-color: var(--clr-gray-200);
  border: none;
  border-radius: var(--rounded-sm);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24rem;
  padding: var(--size-16);
  border: none;
  border-radius: var(--rounded-sm);
  transform: translate(-50%, -50%);
}
.modal::backdrop {
  backdrop-filter: blur(4px);
}

/* Blocks */

.header {
  padding-block: var(--size-16);
  background-color: var(--clr-gray-50);
  border-bottom: 1px solid var(--clr-gray-300);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-16);
  flex-wrap: wrap;
}

.header__logo {
  color: var(--clr-blue-600);
  font-size: var(--size-28);
  font-weight: 700;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box__icon {
  position: absolute;
  left: var(--size-6);
  fill: var(--clr-gray-700);
}

.search-box__input {
  width: 100%;
  padding: var(--size-10) var(--size-10) var(--size-10) var(--size-36);
  background-color: var(--clr-gray-200);
  border-radius: var(--rounded-sm);
  border: none;
}

.search-box__input:focus {
  outline: 2px solid var(--clr-gray-300);
}

@media (max-width: 30rem) {
  .header__inner {
    justify-content: center;
  }
}

.form {
  display: grid;
  gap: var(--size-12);
}

.form__group {
  display: grid;
  gap: var(--size-6);
}

/* Quill */

#editor,
#editor > div {
  height: auto;
  min-height: 12rem;
  margin-bottom: var(--size-16);
}
