:root {
  --clr-gray-50: rgb(249 250 251);
  --clr-gray-100: rgb(243 244 246);
  --clr-gray-200: rgb(229 231 235);
  --clr-gray-300: rgb(209 213 219);
  --clr-gray-400: rgb(156 163 175);
  --clr-gray-500: rgb(107 114 128);
  --clr-gray-600: rgb(75 85 99);
  --clr-gray-700: rgb(55 65 81);
  --clr-gray-800: rgb(31 41 55);
  --clr-gray-900: rgb(17 24 39);
  --clr-gray-950: rgb(3 7 18);

  --clr-blue-50: rgb(239 246 255);
  --clr-blue-100: rgb(219 234 254);
  --clr-blue-200: rgb(191 219 254);
  --clr-blue-300: rgb(147 197 253);
  --clr-blue-400: rgb(96 165 250);
  --clr-blue-500: rgb(59 130 246);
  --clr-blue-600: rgb(37 99 235);
  --clr-blue-700: rgb(29 78 216);
  --clr-blue-800: rgb(30 64 175);
  --clr-blue-900: rgb(30 58 138);
  --clr-blue-950: rgb(23 37 84);

  --clr-red-300: rgb(252 165 165);
  --clr-red-600: rgb(220 38 38);
  --clr-red-950: rgb(69 10 10);

  --clr-green-500: rgb(34 197 94);
  --clr-green-600: rgb(22 163 74);

  --fs-14: 0.875rem;
  --fs-15: 0.935rem;
  --fs-16: 1rem;
  --fs-20: 1.5rem;
  --fs-40: 2.5rem;
  --fs-56: 3.5rem;

  --ff-base: "Roboto", sans-serif;
  --fs-body: var(--fs-16);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;

  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-48: 3rem;
  --size-64: 4rem;

  --rounded-sm: var(--size-4);
  --rounded-md: var(--size-8);
  --rounded-lg: var(--size-12);
}

@media (max-width: 50rem) {
  :root {
    --fs-body: var(--fs-15);
  }
}

/* Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
svg {
  object-fit: cover;
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* General */

body {
  background-color: var(--clr-gray-100);
  color: var(--clr-gray-950);
  font-family: var(--ff-base);
  font-size: var(--fs-b);
}

select {
  padding: var(--size-8) var(--size-12);
  background-color: var(--clr-gray-200);
  border: none;
  border-radius: var(--rounded-sm);
}

p[role="alert"] {
  padding: var(--size-4) var(--size-8);
  margin-block: var(--size-4);
  color: var(--clr-red-950);
  background-color: var(--clr-red-300);
  border-radius: var(--rounded-sm);
}

hr {
  background-color: var(--clr-gray-300);
  height: 2px;
  width: 100%;
  margin-block: var(--size-4);
  border: none;
}

/* Elements */

.btn {
  padding: var(--size-12) var(--size-16);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: var(--fw-semi-bold);
  text-align: center;
  border-radius: var(--rounded-sm);
  border: none;
  transition: 200ms;
  cursor: pointer;
}

.btn--full {
  display: block;
  width: 100%;
}

.btn--rounded {
  padding: var(--size-12);
  border-radius: 100%;
  aspect-ratio: 1/1;
}
.btn--rounded:hover {
  background-color: var(--clr-gray-200);
}

.btn--go-back {
  position: relative;
  margin-bottom: var(--size-8);
  padding: var(--size-8);
  background-color: transparent;
}
.btn--go-back:hover {
  color: var(--clr-blue-500);
  fill: var(--clr-blue-500);
}

.btn--primary {
  background-color: var(--clr-gray-200);
}
.btn--primary:hover {
  background-color: var(--clr-gray-300);
}

.btn--secondary {
  background-color: var(--clr-blue-400);
  color: var(--clr-blue-950);
}
.btn--secondary:hover {
  background-color: var(--clr-blue-300);
}

.input {
  width: 100%;
  padding: var(--size-12) var(--size-16);
  border: 1px solid var(--clr-gray-300);
  border-radius: var(--rounded-sm);
  outline: none;
}
.input:focus {
  border: 1px solid var(--clr-blue-500);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 24rem;
  padding: var(--size-32);
  border: none;
  border-radius: var(--rounded-sm);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}
.modal::backdrop {
  backdrop-filter: blur(4px);
}

/* Blocks */

.header {
  padding-block: var(--size-16);
  background-color: var(--clr-gray-50);
  border-bottom: 1px solid var(--clr-gray-300);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-16);
  flex-wrap: wrap;
}

.header__logo {
  color: var(--clr-blue-600);
  font-size: var(--fs-20);
  font-weight: var(--fw-semi-bold);
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box__icon {
  position: absolute;
  left: var(--size-14);
  fill: var(--clr-gray-700);
}

.search-box__input {
  width: 100%;
  padding: var(--size-12) var(--size-12) var(--size-12) var(--size-48);
  background-color: var(--clr-gray-200);
  border-radius: var(--rounded-sm);
  border: 2px solid var(--clr-gray-200);
  outline: none;
}

.search-box__input:focus {
  border: 2px solid var(--clr-gray-300);
}

.nav__link.nav__link--active {
  color: var(--clr-blue-600);
}

.blog-preview {
  --title-size: var(--fs-40);
}

.blog-preview:hover .blog-preview__img {
  scale: 1.1;
}

.blog-preview__inner {
  position: relative;
  border-radius: var(--rounded-md);
  overflow: hidden;
}

.blog-preview__content {
  position: absolute;
  inset: 0;
  padding: var(--size-16);
  display: flex;
  color: var(--clr-gray-50);
  z-index: 2;
}

.blog-preview__title {
  align-self: flex-end;
  font-size: var(--title-size);
}

.blog-preview__img {
  transition: 200ms;
}

.blog__header {
  display: grid;
  grid-template-columns: minmax(14rem, auto) 1fr minmax(14rem, auto);
  grid-template-rows: 18rem minmax(6rem, auto);
}

.blog__title {
  padding-inline: 8rem;
  padding-block: 2rem;
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: var(--fs-40);
  color: var(--clr-gray-50);
  z-index: 2;
}

.blog__author {
  grid-column: 3/4;
  grid-row: 1/2;
  transform: translate(-50%, 6rem);
  z-index: 2;
}

.blog__img-wrapper {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.blog__img {
  height: 100%;
  width: 100%;
}

.blog__content {
  max-width: 48rem;
  margin-block: var(--size-16);
  margin-inline: auto;
}

.blog__content > p {
  text-align: justify;
}

.blog__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reactions {
  padding: var(--size-4);
  display: flex;
  align-items: center;
  gap: var(--size-8);
  border: 1px solid var(--clr-gray-300);
  border-radius: 100vh;
}

.reactions__count {
  font-weight: var(--fw-semi-bold);
}

.reactions__btn {
  padding: var(--size-8);
  border: none;
  background: transparent;
  cursor: pointer;
}

.reactions__btn.reactions__btn-like--active {
  fill: var(--clr-green-600);
}

.reactions__btn-dislike.reactions__btn-dislike--active {
  fill: var(--clr-red-600);
}

.menu {
  position: relative;
}
.menu.menu--active .menu__list {
  display: block;
}
.menu.menu--active .menu__trigger {
  background-color: var(--clr-gray-200);
}

.menu__header {
  padding: var(--size-8) var(--size-16);
}

.menu__list {
  position: absolute;
  top: calc(100% + var(--size-8));
  right: 0;
  padding: var(--size-4);
  background-color: var(--clr-gray-50);
  border: 1px solid var(--clr-gray-300);
  border-radius: var(--rounded-sm);
  display: none;
  z-index: 10;
}

.menu__item {
  padding: var(--size-8) var(--size-16);
  border-radius: var(--rounded-sm);
  display: block;
}

.menu__item:hover {
  background-color: var(--clr-gray-200);
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--size-16);
}

.profile-preview__img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}

@media (max-width: 50em) {
  .blog__title {
    padding: var(--size-16);
  }

  .blog__author {
    transform: translate(0, 0);
  }
}

@media (max-width: 30em) {
  .header__inner {
    justify-content: center;
  }

  .blog-preview {
    --title-size: var(--fs-20);
  }

  .blog__header {
    grid-template-columns: auto 1fr auto;
  }

  .blog__author {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

/* Utilities */

.container {
  --container-padding: 1rem;

  width: min(var(--container-width), calc(100% - var(--container-padding) * 2));
  margin-inline: auto;
}
.container--small {
  --container-width: 32rem;
}
.container--medium {
  --container-width: 48rem;
}
.container--large {
  --container-width: 72rem;
}

.backdrop {
  position: relative;
}
.backdrop::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.2;
  background-color: var(--clr-gray-950);
  z-index: 1;
}

.flex-group {
  display: flex;
  align-items: center;
  gap: var(--grou-spacer, var(--size-16));
}

.flow > *:not(:last-child) {
  margin-bottom: var(--flow-spacer, 1em);
}

.grid {
  display: grid;
  gap: var(--grid-spacer, 1em);
}

.heading {
  --underline-height: var(--size-4);
  position: relative;
  padding-bottom: 0.5em;
}
.heading::before,
.heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: var(--underline-height);
}
.heading::before {
  width: 100%;
  background-color: var(--clr-gray-300);
}
.heading::after {
  width: 25%;
  background-color: var(--clr-gray-400);
}

.panel {
  padding: var(--size-24);
  background-color: var(--clr-gray-50);
  border: 1px solid var(--clr-gray-300);
  border-radius: var(--rounded-sm);
}

.text-center {
  text-align: center;
}

.text-15 {
  font-size: var(--fs-15);
}
.text-16 {
  font-size: var(--fs-16);
}
.text-20 {
  font-size: var(--fs-20);
}
.text-40 {
  font-size: var(--fs-40);
}

.text-regular {
  font-weight: var(--fw-regular);
}
.text-medium {
  font-weight: var(--fw-medium);
}
.text-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.mx-auto {
  margin-inline: auto;
}

.my-16 {
  margin-block: var(--size-16);
}
.my-24 {
  margin-block: var(--size-24);
}
.my-32 {
  margin-block: var(--size-32);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Quill */

#editor,
#editor > div {
  height: auto;
  height: 18rem;
  overflow: scroll;
}
