package home

import "github.com/skiba-mateusz/blog-nest/views/layouts"
import "github.com/skiba-mateusz/blog-nest/types"

type IndexData struct {
    Title   string
	User 	*types.User
}

templ Index(data IndexData) {
    @layouts.Base(data.Title, data.User) {
        <section class="my-24">
            <div class="container">
                <h1 class="heading">Index Page</h1>
            </div>
        </section>
    }
}